Package: %APP_NAME%
Version: %VERSION%
Section: user/hidden
Priority: optional
Architecture: %ARCH%
Installed-Size: %SIZE%
Maintainer: Christophe Berbizier (dbdl) <cberbizier@peersuasive.com>
Description: %DESC%
