.*.sw*
*.so
.ycm_extra_conf.py*
demo
jit
libluajit.a
*.o
oResult.h
oResult.lua
oluce.lua
bin2c.bin
dis/
obj/
t/
core.dll
demo_s
demo_s.exe
luce.lua
local/
tmp/
build/
*.d
squishy
Makefile.config
Makefile.extra
sources
*_sf
*_s
*_s52
*.exe
*52
*_s
*_s52
*_sf
*_sf52
*.exe
*_osx
*_ios
app_res.o
respring
classes
classes/
main.lua
