luajit
lj_bcdef.h
lj_ffdef.h
lj_libdef.h
lj_recdef.h
lj_folddef.h
lj_vm.s
luajit
luajit_*
modules/
Makefile.extra
extra*
extra_lualib.h
extra_lib_init.c
!extra_lualib.h.example
!extra_lib_init.c.example
