%APP_NAME%

Made with Luce.
    https://peersuasive.com/luce
    https://github.com/peersuasive/luce

Luce is licensed under the terms of the GPLv3 (http://www.gnu.org/licenses/gpl-3.0.html).
Luce (c) 2014, Peersuasive Technologies


